body {
   font-family: 'Commissioner', sans-serif;
}

.main {
   background-image: url("../img/bg.png");
   background-repeat: no-repeat;
   width: 800px;
   height: 600px;
   margin: 0 auto;
}

.section {
   width: 686px;
   height: 391px;
   box-shadow: 0 0 65px rgba(0, 0, 0, 0.82);
   border-radius: 10px;
   background-color: #111a28;
   position: relative;
   top:110px;
   left: 60px;  
}

.header-image {
   padding: 24px 21px;
}

.www {
   display: flex;
   justify-content: space-around;
}

.image {
   margin-top: 30px;
}

.first-text {
   width: 174px;
   height: 24px;
   color: #e1e1e1;
   font-size: 24px;
   font-weight: 400;
   line-height: 26px;
   text-align: left;
   letter-spacing: 0.48px;
   margin-top: -10px;
}

.second-text {
   width: 172px;
   height: 14px;
   opacity: 0.54;
   color: #e1e1e1;
   font-size: 13px;
   font-weight: 400;
   line-height: 26px;
   text-align: left;
   letter-spacing: 0.28px;
   padding-top: 10px;
}


.star-rating {
   font-size: 0;
   padding-top: 20px;
   padding-bottom: 24px;
}

.star-rating__wrap {
	display: inline-block;
   font-size: 0.7rem;
}

.star-rating__wrap:after {
	content: "";
	display: table;
   clear: both;
}

.star-rating__ico {
	float: right;
	padding-left: 2px;
   cursor: pointer;
   color: gray;
}

.star-rating__ico:last-child {
	padding-left: 0;
}

.star-rating__input {
	display: none;
}

.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before {
   content: "\f005";
   color: #FFB300;
}

.dropdown-section {
   display: flex;
}


.dropdown-select {
   padding: 10px 14px;
   background-color: #111a28;
   border: 1px solid #434b55;
   width: 79px;
   height: 38px;
   margin-right: 5px;
   color: #434b55;
}

.button {
   margin-top: 30px;
   width: 184px;
   height: 40px;
   border: 1px solid #434b55;
   background-color: #202935;
}

.text-button {
   color: #434b55;
   font-size: 14px;
   font-weight: 400;
   line-height: 13px;
   text-align: left;
   letter-spacing: 0.28px;
   text-align: center;
   cursor: pointer;
}
   
.button:hover { 
   transform: scale(1.1); 
}

.checkbox {
   margin-top: 28px;
   margin-left: 173px;
}

input[type='radio'],
label {
  cursor: pointer;
}

input[type='radio'] {
  position: relative;
  height: 22px;
  width: 22px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.black input[type='radio']::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border: 2px solid gray; 
}


.black input[type='radio']:checked::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: black;
  border: 2px solid gray;
  transform: translate(-50%, -50%);
  visibility: visible;
}

.white input[type='radio']::before{
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   transform: translate(-50%, -50%);
   background-color: white;
   border: 2px solid gray;  
}
 
.white input[type='radio']:checked::after{
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 22px;
   height: 22px;
   border-radius: 50%;
   background-color: white;
   border: 2px solid gray;
   transform: translate(-50%, -50%);
   visibility: visible;
}

.red input[type='radio']::before{
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   transform: translate(-50%, -50%);
   background-color: red;
   border: 2px solid gray;
}
 
.red input[type='radio']:checked::after{
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 22px;
   height: 22px;
   border-radius: 50%;
   background-color: red;
   border: 2px solid gray;
   transform: translate(-50%, -50%);
   visibility: visible;
}

.blue input[type='radio']::before{
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   transform: translate(-50%, -50%);
   background-color: blue;
   border: 2px solid gray; 
}
 
.blue input[type='radio']:checked::after{
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 22px;
   height: 22px;
   border-radius: 50%;
   background-color: blue;
   border: 2px solid gray;
   transform: translate(-50%, -50%);
   visibility: visible;
}



   